In [1]:
import pandas as pd

In [2]:
inventory = pd.read_csv('data/inventory.csv')
inventory

  Ingredient Unit  CostPerUnit  Stock
0     Coffee    g         0.05    715
1       Milk   ml         0.03   4000
2      Sugar    g         0.02    905

In [3]:
recipes = pd.read_csv('data/recipes.csv')
recipes

          Drink  Coffee  Sugar  Milk  Price
0  Black Coffee      15      5     0    2.0
1   Milk Coffee      15      5   100    2.5

In [5]:
sales = pd.read_csv('data/sales_log.csv')
sales

         Date         Drink  Quantity  Revenue   Cost  Profit
0  2025-05-31  Black Coffee         4      8.0   3.40    4.60
1  2025-05-31   Milk Coffee        10     25.0  38.50  -13.50
2  2025-05-31  Black Coffee         5     10.0   4.25    5.75